.nav-talento{
  color:rgb(0, 195, 255);
  margin-left: 40px;
}

.img-icon{
  margin-right: 220px;
  width: 70px auto;
}

.dropdown-menu {
  display: none;
  position: absolute;
  height: 0;
  right: 2rem;
  top:60px;
  width:300px;
  background:rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(1px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu.open {
  height: 240px;
}

.container-navbar .toggle-icon{
  color:white;
  font-size: 1.5rem;
  cursor:pointer;
  display: none;
}


/* Mobile < 768 px*/

@media only screen and (min-width: 350px) and (max-width: 768px){
    .container-navbar {
      display: flex;
      align-items: center;
      width: 100vw;
      height: 60px;
      background-color:black;
    }
  
    .container-navbar 
    .toggle-icon{
      display:flex;
      margin-right:20px;
    }
  
    .container-navbar 
    .toggle-icon
    .btn-icon{
      display:block;
      margin-right:10px;
      color:white;
      font-size: 30px;
      padding-left: 10px;
    }
  
    .dropdown-menu {
        display: block;
    }
}

/* Mobile > 768 px*/

@media only screen and (min-width: 768px) and (max-width: 1440px){
  .container-navbar {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 60px;
    background-color:black;
  }

  .container-navbar 
  .toggle-icon{
    display:flex;
    margin-right:20px;
  }

  .container-navbar 
  .toggle-icon
  .btn-icon{
    display:block;
    margin-right:10px;
    color:white;
    font-size: 30px;
    padding-left: 10px;
  }

  .dropdown-menu {
      display: block;
  }

  .navbar 
  .navbar-expand-lg 
  .p-0 
  .navbar-dark 
  .p-md-3{
    display: none;
  }
}